@model RR.PedidoVendas.Application.ViewModels.ClienteViewModel

<h2>@ViewBag.Titulo</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">@Html.DisplayFor(model => model.Nome)</div>
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.CPF)</dt>
            <dd>@Html.DisplayFor(model => model.CPF)</dd>
        </dl>
    </div>
</div>

<div>
    <a href="@Url.Action("Editar", "Cliente", new { id = Model.Id })" class="btn btn-warning">
        <span title="Editar Cliente">Editar</span>
    </a>
    <a href="@Url.Action("Consultar", "Cliente")" class="btn btn-default">
        <span title="Consultar Clientes">Voltar</span>
    </a>
</div>